.header {
  width: 100vw;
  max-width: 100vw;
  height: 70px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #e99f5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 30px;
  font-family: 'Georgia', serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.dropdown {
  margin-left: auto;

}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
}



/* Menu */
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 180px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 10px;
  z-index: 100;
}

.dropdown-component {
  text-align: center;
  margin: 5px 0 10px;
  font-weight: bold;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  background: #dbe4ff;
  margin-bottom: 5px;
  border-radius: 4px;
}

.dropdown-menu li:hover {
  background: #b0c4ff;
}
