.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  padding: 8px;
  flex: 1;
  border: 1px solid #ccc;
  outline: none;
  min-width: 0;
}

.search-btn {
  padding: 8px 12px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}
