.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 111vh;
  flex: 1;
  background: #f9ece7;
  padding: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 8px 0;
}
